<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jndi="http://www.springframework.org/schema/jee"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
    http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd">

	<context:annotation-config />
	
	<bean id="validator"
		class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
		<!--<property name="messageInterpolator">
			<bean
				class="com.transys.web.validator.CustomSpringMessageSourceInterpolator" />
		</property>-->
	</bean>
	
	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basename">
			<value>Messages</value>
		</property>
	</bean>
	
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass" value="com.mysql.jdbc.Driver" />
		<property name="jdbcUrl" value="jdbc:mysql://localhost:3306/transys" />
		<property name="user" value="root"/>
	    <property name="password" value=""/>	
	    <property name="initialPoolSize" value="20"/>
	    <property name="minPoolSize" value="20"/>
	    <property name="maxPoolSize" value="500"/>
	    <property name="acquireIncrement" value="5"/><!-- Determines how many connections at a time c3p0 will try to acquire when the pool is exhausted -->
	    <property name="maxStatementsPerConnection" value="0" /><!-- The size of c3p0's PreparedStatement cache. Zero means statement caching is turned off. -->
	    <property name="maxIdleTime" value="1000" />
	    <property name="preferredTestQuery" value="SELECT 1;" />
	    <property name="idleConnectionTestPeriod" value="60" />
	    <property name="maxConnectionAge" value="14400" /><!-- To recreate connection after 4 hrs in order to prevent socket closing by DB server -->
	    <property name="acquireRetryAttempts" value="10"/>
	</bean>
	
		<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<property name="showSql" value="true" />
				<property name="generateDdl" value="true" />				
				<property name="databasePlatform" value="com.transys.core.util.CustomDialect" />
			</bean>
		</property>
		 <property name="persistenceXmlLocation" value="classpath:/persistence.xml"></property>
		<property name="jpaProperties">
			<bean
				class="org.springframework.beans.factory.config.PropertiesFactoryBean">
				<property name="location">
					<value>classpath:hibernate.properties</value>
				</property>
			</bean>
		</property>
	</bean>

	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>

	<tx:annotation-driven />
</beans>
